<a
  href="{{ block.settings.link }}"
  {% if block.settings.open_on_new_tab %}
    target="_blank"
  {% endif %}
  class="
    inline-block
    bg-[{{ block.settings.color_background }}]
    text-[{{ block.settings.color }}]
    text-{{ block.settings.font_size }}
    font-{{ block.settings.font_weight }}
    font-(family-name:--{{ block.settings.font_family }}-family)
    leading-(--{{ block.settings.font_family }}-line-height)
    tracking-(--{{ block.settings.font_family }}-letter-spacing)
    {{ block.settings.font_style }}
    {{ block.settings.text_transform }}
    {{ block.settings.text_decoration }}
    border-{{ block.settings.border_style }}
    border-[{{ block.settings.border_width }}px]
    border-[{{ block.settings.border_color }}]
    rounded-[{{ block.settings.border_radius }}px]
    pt-[{{ block.settings.padding_top }}px]
    pb-[{{ block.settings.padding_bottom }}px]
    pl-[{{ block.settings.padding_left }}px]
    pr-[{{ block.settings.padding_right }}px]
    {%- if block.settings.add_hover_effect %}
    transition-colors
    duration-{{ block.settings.transition_duration | times: 1000 | round }}
    hover:bg-[{{ block.settings.hover_color_background }}]
    hover:text-[{{ block.settings.hover_color }}]
    hover:border-{{ block.settings.hover_border_style }}
    hover:border-[{{ block.settings.hover_border_color }}]
    {%- endif %}
    {% if block.settings.flex_basis_style %}
      basis-[{{ block.settings.flex_basis }}%]
    {% endif %}
  "
>
  {{ block.settings.text }}
</a>

{% schema %}
{
  "name": "Button",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Content",
      "default": "Discover"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Font Size",
      "options": [
        { "value": "5xl", "label": "5xl" },
        { "value": "4xl", "label": "4xl" },
        { "value": "3xl", "label": "3xl" },
        { "value": "2xl", "label": "2xl" },
        { "value": "xl", "label": "xl" },
        { "value": "lg", "label": "lg" },
        { "value": "base", "label": "base" },
        { "value": "sm", "label": "sm" },
        { "value": "xs", "label": "xs" }
      ],
      "default": "base"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "normal", "label": "Normal" },
        { "value": "medium", "label": "Medium" },
        { "value": "semi-bold", "label": "Semi-bold" },
        { "value": "bold", "label": "Bold" }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "Font Family",
      "options": [
        { "value": "font-heading", "label": "Headings Primary" },
        { "value": "font-heading-secondary", "label": "Headings Secondary" },
        { "value": "font-body", "label": "Body Primary" },
        { "value": "font-body-secondary", "label": "Body Secondary" }
      ],
      "default": "font-body"
    },
    {
      "type": "select",
      "id": "font_style",
      "label": "Font Style",
      "options": [
        { "value": "not-italic", "label": "Normal" },
        { "value": "italic", "label": "Italic" }
      ],
      "default": "not-italic"
    },
    {
      "type": "select",
      "id": "text_transform",
      "label": "Text Transform",
      "options": [
        { "value": "normal-case", "label": "Normal case" },
        { "value": "uppercase", "label": "Uppercase" },
        { "value": "lowercase", "label": "Lowercase" },
        { "value": "capitalize", "label": "Capitalize" }
      ],
      "default": "normal-case"
    },
    {
      "type": "select",
      "id": "text_decoration",
      "label": "Text Decoration",
      "options": [
        { "value": "no-underline", "label": "No underline" },
        { "value": "underline", "label": "Underline" },
        { "value": "overline", "label": "Overline" },
        { "value": "line-through", "label": "Line-through" }
      ],
      "default": "no-underline"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "checkbox",
      "id": "open_on_new_tab",
      "label": "Open on new tab",
      "default": false
    },
    {
      "type": "header",
      "content": "Border"
    },
    {
      "type": "select",
      "id": "border_style",
      "label": "Border Style",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "solid", "label": "Solid" },
        { "value": "dashed", "label": "Dashed" },
        { "value": "dotted", "label": "Dotted" },
        { "value": "double", "label": "Double" }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 1,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border Width",
      "default": 1
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border Color"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Border Radius",
      "default": 0
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Left",
      "default": 10
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Right",
      "default": 10
    },
    {
      "type": "header",
      "content": "Hover"
    },
    {
      "type": "checkbox",
      "id": "add_hover_effect",
      "label": "Add hover effect",
      "default": false
    },
    {
      "type": "range",
      "id": "transition_duration",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "unit": "s",
      "label": "Transition duration",
      "default": 0,
      "visible_if": "{{ block.settings.add_hover_effect }}"
    },
    {
      "type": "color",
      "id": "hover_color",
      "label": "Color",
      "visible_if": "{{ block.settings.add_hover_effect }}"
    },
    {
      "type": "color",
      "id": "hover_color_background",
      "label": "Background Color",
      "visible_if": "{{ block.settings.add_hover_effect }}"
    },
    {
      "type": "select",
      "id": "hover_border_style",
      "label": "Border Style",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "solid", "label": "Solid" },
        { "value": "dashed", "label": "Dashed" },
        { "value": "dotted", "label": "Dotted" },
        { "value": "double", "label": "Double" }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.add_hover_effect }}"
    },
    {
      "type": "color",
      "id": "hover_border_color",
      "label": "Border Color",
      "visible_if": "{{ block.settings.add_hover_effect }}"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "flex_basis_style",
      "label": "Flex basis",
      "default": false
    },
    {
      "type": "range",
      "id": "flex_basis",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Flex basis",
      "default": 0,
      "visible_if": "{{ block.settings.flex_basis_style }}"
    }
  ],
  "presets": [
    {
      "name": "Button",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
