<div
  class="
    mt-[1.5625rem]
    mb-0
    border-y-[.0625rem]
    border-solid
    border-[rgba(var(--color-foreground),.08)]
    {% if block.settings.flex_basis_style %}
      basis-[{{ block.settings.flex_basis }}%]
    {% endif %}
  "
  {{ block.shopify_attributes }}
>
  <details id="Details-{{ block.id }}-{{ section.id }}" class="open:[&_.icon-caret]:rotate-180">
    <summary
      id="Summary-{{ block.id }}-{{ section.id }}"
      class="
        flex
        relative
        leading-none
        items-center
        py-[.9375rem]
        px-0
      "
    >
      {%- assign file = block.settings.icon | replace: '_', '-' | prepend: 'icon-' | append: '.svg' -%}
      <span
        class="
          inline-flex
          justify-center
          items-center
          self-center
          fill-[rgb(var(--color-foreground))]
          mr-[calc(var(--font-heading-scale)_*_0.625rem)]
          h-[{{ block.settings.icon_size }}px]!
          w-[{{ block.settings.icon_size }}px]!
          [&>svg]:h-full
          [&>svg]:w-full
        "
      >
        {{- file | inline_asset_content -}}
      </span>
      <h3
        class="
          inline-block
          max-w-[calc(100%-3.75rem)]
          min-h-[1rem]
          m-0
          break-all
          text-[calc(var(--font-heading-scale)*.9375rem)]!
        "
      >
        {{ block.settings.heading | default: block.settings.page.title | escape }}
      </h3>
      {{- 'icon-caret.svg' | inline_asset_content -}}
    </summary>
    <div
      class="
        mb-[.9375rem]
        break-all
        overflow-x-auto
        py-0
        px-[.375rem]
        after:clear-both
        after:block
        [&>*:first-child]:mt-0
        [&>*:last-child]:mb-0
      "
      id="CollapsibleAccordion-{{ block.id }}-{{ section.id }}"
      role="region"
      aria-labelledby="Summary-{{ block.id }}-{{ section.id }}"
    >
      {{ block.settings.row_content }}
      {{ block.settings.page.content }}
    </div>
  </details>
</div>

{% schema %}
{
  "name": "t:sections.collapsible_content.name",
  "tag": "div",
  "class": "div",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.default",
      "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.label",
      "info": "t:sections.collapsible_content.blocks.collapsible_row.settings.heading.info"
    },
    {
      "type": "select",
      "id": "icon",
      "options": [
        {
          "value": "none",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__1.label"
        },
        {
          "value": "apple",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__2.label"
        },
        {
          "value": "banana",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__3.label"
        },
        {
          "value": "bottle",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__4.label"
        },
        {
          "value": "box",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__5.label"
        },
        {
          "value": "carrot",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__6.label"
        },
        {
          "value": "chat_bubble",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__7.label"
        },
        {
          "value": "check_mark",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__8.label"
        },
        {
          "value": "clipboard",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__9.label"
        },
        {
          "value": "dairy",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__10.label"
        },
        {
          "value": "dairy_free",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__11.label"
        },
        {
          "value": "dryer",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__12.label"
        },
        {
          "value": "eye",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__13.label"
        },
        {
          "value": "fire",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__14.label"
        },
        {
          "value": "gluten_free",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__15.label"
        },
        {
          "value": "heart",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__16.label"
        },
        {
          "value": "iron",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__17.label"
        },
        {
          "value": "leaf",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__18.label"
        },
        {
          "value": "leather",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__19.label"
        },
        {
          "value": "lightning_bolt",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__20.label"
        },
        {
          "value": "lipstick",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__21.label"
        },
        {
          "value": "lock",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__22.label"
        },
        {
          "value": "map_pin",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__23.label"
        },
        {
          "value": "nut_free",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__24.label"
        },
        {
          "value": "pants",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__25.label"
        },
        {
          "value": "paw_print",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__26.label"
        },
        {
          "value": "pepper",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__27.label"
        },
        {
          "value": "perfume",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__28.label"
        },
        {
          "value": "plane",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__29.label"
        },
        {
          "value": "plant",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__30.label"
        },
        {
          "value": "price_tag",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__31.label"
        },
        {
          "value": "question_mark",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__32.label"
        },
        {
          "value": "recycle",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__33.label"
        },
        {
          "value": "return",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__34.label"
        },
        {
          "value": "ruler",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__35.label"
        },
        {
          "value": "serving_dish",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__36.label"
        },
        {
          "value": "shirt",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__37.label"
        },
        {
          "value": "shoe",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__38.label"
        },
        {
          "value": "silhouette",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__39.label"
        },
        {
          "value": "snowflake",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__40.label"
        },
        {
          "value": "star",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__41.label"
        },
        {
          "value": "stopwatch",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__42.label"
        },
        {
          "value": "truck",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__43.label"
        },
        {
          "value": "washing",
          "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.options__44.label"
        }
      ],
      "default": "check_mark",
      "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.icon.label"
    },
    {
      "type": "range",
      "id": "icon_size",
      "label": "Icon Size",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 20,
      "unit": "px"
    },
    {
      "type": "richtext",
      "id": "row_content",
      "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.row_content.label"
    },
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.collapsible_content.blocks.collapsible_row.settings.page.label"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "flex_basis_style",
      "label": "Flex basis",
      "default": false
    },
    {
      "type": "range",
      "id": "flex_basis",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Flex basis",
      "default": 0,
      "visible_if": "{{ block.settings.flex_basis_style }}"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible_content.presets.name",
      "category": "t:categories.basic"
    }
  ]
}
{% endschema %}
