{% if block.settings.display_mode == 'slider' %}
  {% style %}
    .swiper-pagination-bullet-active {
      background: {{ block.settings.pagination_dots_color }};
    }
  {% endstyle %}
  <div class="swiper swiper-{{ block.id }} wrapper w-full h-[300px] bg-[{{ block.settings.color_background }}]">
    <div class="swiper-wrapper">
      {% for nested_block in block.blocks %}
        <div class="swiper-slide flex! justify-center items-center">
          {% render nested_block %}
        </div>
      {% endfor %}
    </div>
    {% if block.settings.show_arrow_buttons == true %}
      <div class="swiper-button-next text-[{{ block.settings.arrow_buttons_color }}]! flex!"></div>
      <div class="swiper-button-prev text-[{{ block.settings.arrow_buttons_color }}]! flex!"></div>
    {% endif %}
    {% if block.settings.show_pagination_dots == true %}
      <div class="swiper-pagination"></div>
    {% endif %}
  </div>
  <script>
    (() => {
      const swiper = new Swiper('.swiper-{{ block.id }}', {
        loop: true,
        pagination: {
          el: '.swiper-{{ block.id }} .swiper-pagination',
          clickable: true,
        },
        navigation: {
          nextEl: '.swiper-{{ block.id }} .swiper-button-next',
          prevEl: '.swiper-{{ block.id }} .swiper-button-prev',
        },
      });
    })();
  </script>
{% else %}
  <div class="wrapper w-full bg-[{{ block.settings.color_background }}]">
    {% content_for 'blocks' %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Group",
  "tag": "div",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Mode"
    },
    {
      "type": "radio",
      "id": "display_mode",
      "label": "Display mode",
      "options": [
        { "value": "normal", "label": "Normal" },
        { "value": "slider", "label": "Slider" }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "Slider options",
      "visible_if": "{{ block.settings.display_mode == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "show_arrow_buttons",
      "label": "Show arrow buttons",
      "default": true,
      "visible_if": "{{ block.settings.display_mode == 'slider' }}"
    },
    {
      "type": "color",
      "id": "arrow_buttons_color",
      "label": "Arrow buttons color",
      "default": "#000",
      "visible_if": "{{ block.settings.display_mode == 'slider' }}"
    },
    {
      "type": "checkbox",
      "id": "show_pagination_dots",
      "label": "Show pagination dots",
      "default": true,
      "visible_if": "{{ block.settings.display_mode == 'slider' }}"
    },
    {
      "type": "color",
      "id": "pagination_dots_color",
      "label": "Pagination dots color",
      "default": "#000",
      "visible_if": "{{ block.settings.display_mode == 'slider' }}"
    }
  ],
  "presets": [
    {
      "name": "Group"
    }
  ]
}
{% endschema %}
