{%- assign product_form_id = 'product-form-' | append: section.id -%}
{%- unless block.settings.product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in block.settings.product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: block.settings.product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: block.settings.product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {%- liquid
                  assign swatch_value = null
                  assign swatch = option.selected_value.swatch
                  assign shape = block.settings.swatch_shape
                  if option.selected_value.swatch.image
                    assign image_url = swatch.image | image_url: width: 50
                    assign swatch_value = 'url(' | append: image_url | append: ')'
                    assign swatch_focal_point = swatch.image.presentation.focal_point
                  elsif swatch.color
                    assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
                  endif
                -%}
                <span
                  {% if swatch_value %}
                    class="swatch{% if shape == 'square' %} swatch--square{% endif %}"
                    style="--swatch--background: {{ swatch_value }};{% if swatch_focal_point %} --swatch-focal-point: {{ swatch_focal_point }};{% endif %}"
                  {% else %}
                    class="swatch swatch--unavailable{% if shape == 'square' %} swatch--square{% endif %}"
                  {% endif %}
                ></span>
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: block.settings.product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ block.settings.product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}

{% schema %}
{
  "name": "Variant picker",
  "tag": null,
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "select",
      "id": "picker_type",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
        }
      ],
      "default": "button",
      "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
    },
    {
      "id": "swatch_shape",
      "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
      "type": "select",
      "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
      "options": [
        {
          "value": "circle",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
        }
      ],
      "default": "circle"
    }
  ],
  "presets": [
    {
      "name": "Variant picker",
      "category": "t:categories.product",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}
