<div
  class="
    block
    bg-[{{ block.settings.color_background }}]
    text-[{{ block.settings.color }}]
    text-{{ block.settings.font_size }}
    text-{{ block.settings.text_alignment }}
    font-{{ block.settings.font_weight }}
    font-(family-name:--{{ block.settings.font_family }}-family)
    leading-(--{{ block.settings.font_family }}-line-height)
    tracking-(--{{ block.settings.font_family }}-letter-spacing)
    {{ block.settings.font_style }}
    {{ block.settings.text_decoration }}
  "
>
  {% liquid
    assign price = block.settings.product.price
    assign compare_at_price = block.settings.product.compare_at_price
  %}
  {% if price and price != '' %}
    {% if block.settings.show_sale_price_first == false and compare_at_price > price %}
      <s class="opacity-75">{{ compare_at_price | money }}</s>
    {% endif %}
    <span>{{ price | money }}</span>
    {% if block.settings.show_sale_price_first == true and compare_at_price > price %}
      <s class="opacity-75">{{ compare_at_price | money }}</s>
    {% endif %}
  {% else %}
    <span>{{ 1999 | money }}</span>
  {% endif %}
</div>

{% if block.settings.show_tax_info %}
  {%- if cart.taxes_included or cart.duties_included or shop.shipping_policy.body != blank -%}
    <div class="product__tax mt-0! caption rte">
      {%- if cart.duties_included and cart.taxes_included -%}
        {{ 'products.product.duties_and_taxes_included' | t }}
      {%- elsif cart.taxes_included -%}
        {{ 'products.product.taxes_included' | t }}
      {%- elsif cart.duties_included -%}
        {{ 'products.product.duties_included' | t }}
      {%- endif -%}
      {%- if shop.shipping_policy.body != blank -%}
        {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
      {%- endif -%}
    </div>
  {%- endif -%}
{% endif %}

{% schema %}
{
  "name": "Price",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "show_sale_price_first",
      "label": "Show sale price first",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tax_info",
      "label": "Tax information",
      "default": false
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Font Size",
      "options": [
        { "value": "5xl", "label": "5xl" },
        { "value": "4xl", "label": "4xl" },
        { "value": "3xl", "label": "3xl" },
        { "value": "2xl", "label": "2xl" },
        { "value": "xl", "label": "xl" },
        { "value": "lg", "label": "lg" },
        { "value": "base", "label": "base" },
        { "value": "sm", "label": "sm" },
        { "value": "xs", "label": "xs" }
      ],
      "default": "base"
    },
    {
      "type": "text_alignment",
      "id": "text_alignment",
      "label": "Text Alignment",
      "default": "left"
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Font Weight",
      "options": [
        { "value": "light", "label": "Light" },
        { "value": "normal", "label": "Normal" },
        { "value": "medium", "label": "Medium" },
        { "value": "semi-bold", "label": "Semi-bold" },
        { "value": "bold", "label": "Bold" }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "font_family",
      "label": "Font Family",
      "options": [
        { "value": "font-heading", "label": "Headings Primary" },
        { "value": "font-heading-secondary", "label": "Headings Secondary" },
        { "value": "font-body", "label": "Body Primary" },
        { "value": "font-body-secondary", "label": "Body Secondary" }
      ],
      "default": "font-body"
    },
    {
      "type": "select",
      "id": "font_style",
      "label": "Font Style",
      "options": [
        { "value": "not-italic", "label": "Normal" },
        { "value": "italic", "label": "Italic" }
      ],
      "default": "not-italic"
    },
    {
      "type": "select",
      "id": "text_decoration",
      "label": "Text Decoration",
      "options": [
        { "value": "no-underline", "label": "No underline" },
        { "value": "underline", "label": "Underline" },
        { "value": "overline", "label": "Overline" },
        { "value": "line-through", "label": "Line-through" }
      ],
      "default": "no-underline"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Color"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Price",
      "category": "t:categories.product",
      "settings": {
        "product": "{{ closest.product }}"
      }
    }
  ]
}
{% endschema %}
