<div class="wrapper h-[{{ section.settings.height }}] bg-[{{ section.settings.color_background }}] section-{{ section.id }}{% if section.settings.image_url %} bg-[linear-gradient(rgba(0,0,0,{{ section.settings.image_opacity | divided_by: 100.0 }}),rgba(0,0,0,{{ section.settings.image_opacity | divided_by: 100.0 }})),url({{ section.settings.image_url | image_url: width: 1500 }})] bg-cover bg-center{% endif %}">
  <div class="page-width h-full mx-auto!">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Section",
  "tag": "section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Attached Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_opacity",
      "label": "Image Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "options": [
        { "value": "auto", "label": "Auto" },
        { "value": "600px", "label": "Extra Large" },
        { "value": "450px", "label": "Large" },
        { "value": "300px", "label": "Medium" },
        { "value": "150px", "label": "Small" }
      ],
      "default": "auto"
    }
  ],
  "presets": [
    {
      "name": "Section"
    }
  ]
}
{% endschema %}
