<div class="section-{{ section.id }} wrapper h-[{{ section.settings.height }}] bg-[{{ section.settings.color_background }}] section-{{ section.id }}{% if section.settings.image_url %} bg-[linear-gradient(rgba(0,0,0,{{ section.settings.image_opacity | divided_by: 100.0 }}),rgba(0,0,0,{{ section.settings.image_opacity | divided_by: 100.0 }})),url({{ section.settings.image_url | image_url: width: 1500 }})] bg-cover bg-center{% endif %}">
  <div
    class="
      h-full
      mx-auto!
      pt-[{{ section.settings.padding_top }}px]!
      pb-[{{ section.settings.padding_bottom }}px]!
      {%- if section.settings.apply_page_width %}
      page-width
      {%- endif %}
      flex
      {{ section.settings.mobile_flex_direction }}
      md:{{ section.settings.flex_direction }}
      {{ section.settings.flex_wrap }}
      gap-x-[{{ section.settings.horizontal_gap }}px]
      gap-y-[{{ section.settings.vertical_gap }}px]
      {{ section.settings.justify_content }}
      {{ section.settings.align_items }}
    "
  >
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Section",
  "tag": "section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Attached Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "apply_page_width",
      "label": "Apply page width",
      "default": true
    },
    {
      "type": "select",
      "id": "flex_direction",
      "label": "Direction",
      "options": [
        {
          "value": "flex-row",
          "label": "Row"
        },
        {
          "value": "flex-col",
          "label": "Column"
        }
      ],
      "default": "flex-col"
    },
    {
      "type": "select",
      "id": "mobile_flex_direction",
      "label": "Mobile direction",
      "options": [
        {
          "value": "flex-row",
          "label": "Row"
        },
        {
          "value": "flex-col",
          "label": "Column"
        }
      ],
      "default": "flex-col"
    },
    {
      "type": "select",
      "id": "flex_wrap",
      "label": "Wrap",
      "options": [
        {
          "value": "flex-wrap",
          "label": "Yes"
        },
        {
          "value": "flex-nowrap",
          "label": "No"
        }
      ],
      "default": "flex-nowrap"
    },
    {
      "type": "range",
      "id": "horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Horizontal gap",
      "default": 8
    },
    {
      "type": "range",
      "id": "vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical gap",
      "default": 8
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Justify content",
      "options": [
        {
          "value": "justify-start",
          "label": "Start"
        },
        {
          "value": "justify-center",
          "label": "Center"
        },
        {
          "value": "justify-end",
          "label": "End"
        },
        {
          "value": "justify-around",
          "label": "Space around"
        },
        {
          "value": "justify-between",
          "label": "Space between"
        },
        {
          "value": "justify-evenly",
          "label": "Space evenly"
        }
      ],
      "default": "justify-start"
    },
    {
      "type": "select",
      "id": "align_items",
      "label": "Align items",
      "options": [
        {
          "value": "items-start",
          "label": "Start"
        },
        {
          "value": "items-center",
          "label": "Center"
        },
        {
          "value": "items-end",
          "label": "End"
        },
        {
          "value": "items-baseline",
          "label": "Baseline"
        },
        {
          "value": "items-stretch",
          "label": "Stretch"
        }
      ],
      "default": "items-start"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image_url",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_opacity",
      "label": "Image Opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background Color"
    },
    {
      "type": "select",
      "id": "height",
      "label": "Height",
      "options": [
        { "value": "auto", "label": "Auto" },
        { "value": "600px", "label": "Extra Large" },
        { "value": "450px", "label": "Large" },
        { "value": "300px", "label": "Medium" },
        { "value": "150px", "label": "Small" }
      ],
      "default": "auto"
    }
  ],
  "presets": [
    {
      "name": "Section"
    }
  ]
}
{% endschema %}
